.text-bubble-container {
  position: relative;
  margin-bottom: 17px;
  width: 100%;
}

.text-bubble {
  background-color: #e3ebfc;
  padding: 7px 15px;
  border-radius: 7px;
}

.message {
  color: #356ae6;
}

.point {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 30px;
  bottom: -8px;
  background-color: #e3ebfc;
  transform: rotate(45deg);
  z-index: -10;
}
